# Challenge 3

In [2]:
# import libraries here
import pandas as pd

import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

#### Import the titanic file. Name your dataset `titanic`.

In [5]:
titanic = pd.read_csv('./titanic.csv',low_memory=False)
titanic.head()

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,U0,S
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,U0,S
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,U0,S

#### Explore the titanic dataset using Pandas dtypes

In [20]:
#your code here
titanic.dtypes

PassengerId      int64
Survived       float64
Pclass           int64
Name            object
Gender          object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

#### What are your numerical variables? What are your categorical variables?

*Hint: Use Pandas `select_dtypes`*

In [23]:
# your code here- numerical variable
df = pd.DataFrame(titanic.dtypes)

df[(df[0]==float)|(df[0]==int)]

                   0
PassengerId    int64
Survived     float64
Pclass         int64
Age          float64
SibSp          int64
Parch          int64
Fare         float64

In [25]:
#your code here- categorical variable
df[(df[0]==object)]

               0
Name      object
Gender    object
Ticket    object
Cabin     object
Embarked  object

#### Set the plot style to `classic` and the figure size to `(12,6)`

*Hint: To set the style you can use `matplotlib.pyplot` functions or seaborn*

In [64]:
# your code here
df1 = df.groupby(0).agg({0:'count'})
df1

plt.style.use('classic')
plt.plot(df1[[0]],df1[[1]])
plt.figure(figsize=(12,6))

KeyError: "None of [Int64Index([1], dtype='int64')] are in the [columns]"

#### Use the appropriate visulalization to show the distribution of the column `Age`

In [30]:
# your code here
?df.columns

#### Use subplots to plot the distribution of the `Age` variable with bins equal to `10`, `20` and `50`.

In [ ]:
# your code here

#### Whether the bin size affects your plot? Why?

In [2]:
#your comment here

#### Use seaborn to show the distribution of the column `Age`

In [ ]:
# your code here

#### Use the appropriate plot to visualize the column `Gender`. There are 2 ways of doing it. Do it both ways.

*Hint: Use matplotlib and seaborn*

In [ ]:
# your code here- 1st way

In [ ]:
# your code here- 2nd way

#### Use the appropriate plot to visualize the column `Pclass`

In [ ]:
# your code here

#### We would like to have in one single plot the summary statistics of the feature `Age`. Choose the appropriate plot to show below.

In [3]:
# your code here

#### What does the previous plot tell you about the feature `Age`? Comment.

In [ ]:
# your comment here

#### Now in addition to the summary statistics, we also want to visualize the distribution of `Age`. Choose the appropriate plot to sow below.

In [ ]:
#your code here

#### What additional information in the previous plot provide you about the feature `Age`? Comment.

In [ ]:
#your comment here

#### We suspect that there is a linear relationship between `Fare` and `Age`. Use the appropriate plot to show the relationship between these 2 features. There are 2 ways, please do it both ways.

*Hint: One of the ways involves using Seaborn*

In [ ]:
#your code-1st way

In [ ]:
# your code-2nd way

#### Using Seaborn plot the correlation matrix of various features.

*Hint: search how to use `heatmap`*

In [ ]:
#your code here

#### According to the previous plot, what are the most correlated feature? Comment.

In [ ]:
#your comment here

#### Use the appropriate plot to display the summary statistics of the `Age` in function of the `Pclass`.

*Hint: use boxplot to display summary statistics of `Age` in relation to each of the discrete values of `Pclass`*

In [ ]:
#your code here

#### Use the appropriate plot to display the distributions of  `Age` in relation to  `Gender`.

*Hint: use Facetgrid to display the distribution of `Age` for each categorical value of `Gender`*

In [ ]:
#your code here