# Advanced Querying Mongo

Importing libraries and setting up connection

In [1]:
from pymongo import MongoClient
import datetime
client = MongoClient()

In [2]:
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [3]:
# Your Code
db = client.get_database('companies') # getting clients db 
babelgum = list(db.companies.find({'name':'Babelgum'})) # getting the collection

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [114]:
# Your Code
corps = db.companies.find({'number_of_employees':{'$gte':5000}},{'name':True, "_id":0})
big_shops = corps.sort([("number_of_employees",1)]).limit(20)
list(big_shops)

[{'name': 'PCH International'},
 {'name': 'JDS Uniphase Corporation'},
 {'name': 'Vcare Call Center'},
 {'name': 'Air Astana Airlines'},
 {'name': 'McAfee'},
 {'name': 'United Internet'},
 {'name': 'Spotify'},
 {'name': 'Nintendo'},
 {'name': 'Hexaware Technologies'},
 {'name': 'Facebook'},
 {'name': 'OpenText'},
 {'name': 'LSI'},
 {'name': 'CPM Braxis'},
 {'name': 'Microchip Technologies'},
 {'name': 'Mediaset'},
 {'name': 'Mindray Medical International'},
 {'name': 'Atmel'},
 {'name': 'Tata Communications'},
 {'name': 'Dentsu'},
 {'name': 'Baidu'}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [5]:
# Your Code
post_dotcom = db.companies.find({'founded_year':{"$gte":2000, "$lte":2005}},{'name':True, 'founded_year':True, '_id':False})
list(post_dotcom.limit(5))

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Omnidrive', 'founded_year': 2005},
 {'name': 'Digg', 'founded_year': 2004},
 {'name': 'Gizmoz', 'founded_year': 2003}]


### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [41]:
# Your Code
filter_ = {"valuation_amount":{"$gt":100000000}, "founded_year":{"$lt":2010}}
project = {"name":True, "ipo":True, "_id":True}
publics = db.companies.find(filter_,project)
list(publics)## No veo mi error

[]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [40]:
# Your Code
filter_= {"number_of_employees":{"$gt":1000}, "founded_year":{"$lt":2005}}
project={"name":1, "_id":0}
shops = db.companies.find(filter_, project).sort([("number_of_employees",1)]).limit(10)
list(shops)

[{'name': 'MSC Software'},
 {'name': 'ThoughtWorks Studios'},
 {'name': 'ValueClick'},
 {'name': 'Documentum'},
 {'name': 'Invensis Technologies'},
 {'name': 'SoftServe'},
 {'name': 'Concur Technologies'},
 {'name': 'Tribal DDB'},
 {'name': 'SuccessFactors'},
 {'name': 'HomeAdvisor'}]

### 6. All the companies that don't include the `partners` field.

In [62]:
# Your Code
filter_= {"partners": {"$exists": False}}
project={"name":1, "_id":0}
freeriders =db.companies.find(filter_, project)
list(freeriders) ## No veo mi error

[]

### 7. All the companies that have a null type of value on the `category_code` field.

In [72]:
# Your Code
filter_={'category_code':None}
project={"name":1, "_id":0}

undecided = db.companies.find(filter_,project).limit(10)
list(undecided)

[{'name': 'Collective'},
 {'name': 'KoolIM'},
 {'name': 'Snimmer'},
 {'name': 'VidKing'},
 {'name': 'Level9 Media'},
 {'name': 'Drigg'},
 {'name': 'SpaceTime'},
 {'name': 'Inside Group'},
 {'name': 'MMDAYS'},
 {'name': 'Repeater Store'}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [102]:
#Your Code
filter_ = {'number_of_employees':{'$gte':100, '$lt':1000}}
project={"name":1, "_id":0, 'number_of_employees':1}

scale_ups  = db.companies.find(filter_, project).limit(5)

list(scale_ups)

[{'name': 'AdventNet', 'number_of_employees': 600},
 {'name': 'AddThis', 'number_of_employees': 120},
 {'name': 'OpenX', 'number_of_employees': 305},
 {'name': 'LifeLock', 'number_of_employees': 644},
 {'name': 'Jajah', 'number_of_employees': 110}]

### 9. Order all the companies by their IPO price in a descending order.

In [97]:
# Your Code
filter_ = {'ipo':'Object'}
project={"name":1 ,"_id":0}
small_caps = db.companies.find(filter_,project).sort([('valuation_amount',-1)])
list(small_caps)

[]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [109]:
# Your Code
filter_= {"number_of_employees":{"$gt":0}}
project={"name":1, "_id":0}
blue_chips = db.companies.find(filter_, project).sort([("number_of_employees",-1)]).limit(10)
list(blue_chips)

[{'name': 'Siemens'},
 {'name': 'IBM'},
 {'name': 'Toyota'},
 {'name': 'PayPal'},
 {'name': 'Nippon Telegraph and Telephone Corporation'},
 {'name': 'Samsung Electronics'},
 {'name': 'Accenture'},
 {'name': 'Tata Consultancy Services'},
 {'name': 'Flextronics International'},
 {'name': 'Safeway'}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [111]:
# Your Code

filter_= {"founded_month":{"$gt":5}}
project={"name":1, "_id":0}
late_boomers = db.companies.find(filter_, project).limit(1000)

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [113]:
# Your Code

filter_= {"founded_year":{"$lt":2000}, }
project={"name":1, "_id":0}
late_boomers = db.companies.find(filter_, project).limit(1000)

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [121]:
# Your Code

filter_= {"acquisition":{"acquired_year":{'$gt':2010}}}
project={"name":1, "_id":0}

late_boomers = db.companies.find(filter_, project).sort({"acquisition":[("price_amount",1)]})

##como hago esta?

TypeError: if no direction is specified, key_or_list must be an instance of list

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [16]:
# Your Code




late_boomers = db.companies.find(filter_, project).limit(1000)

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [17]:
# Your Codeproject = {'name':True , 'ipo':True, '_id':True}
publics = db.companies.find(filter_, project)

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [18]:
# Your Code

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [19]:
# Your Code

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [20]:
# Your Code

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [21]:
# Your Code

### 20. All the companies that have been 'deadpooled' after the third year.

In [22]:
# Your Code