# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
# Run this code:
import pandas as pd
salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [43]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [18]:
# Your code here:
dataxcolumn = [{salary:salaries[salary].count()} for salary in salaries.columns]
dataxcolumn

[{'Name': 33183},
 {'Job Titles': 33183},
 {'Department': 33183},
 {'Full or Part-Time': 33183},
 {'Salary or Hourly': 33183},
 {'Typical Hours': 8022},
 {'Annual Salary': 25161},
 {'Hourly Rate': 8022}]

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [34]:
# Your code here:
total_hourly = len(salaries[salaries['Salary or Hourly']=='Hourly'])
hourly_outoftotal = total_hourly/len(salaries)
total_salary = len(salaries)-total_hourly

print (f'Hourly employees amount for {total_hourly}')
print (f'Salary employees amount for {total_sala ry}\n')
print (f'Hourly employees amount for {hourly_outoftotal*100}% out of total salaries')
print (f'Hourly employees amount for {total_salary}% out of total salaries')

Hourly employees amount for 8022
Salary employees amount for 25161

Hourly employees amount for 24.17502938251514% out of total salaries
Hourly employees amount for 25161% out of total salaries

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [64]:
# Your code here:
salaries_dep = [{dep:len(salaries.loc[salaries['Department']==dep])} for dep in set(salaries['Department'])]
print(salaries_dep)

[{'HUMAN RELATIONS': 16}, {'TRANSPORTN': 1140}, {'HEALTH': 488}, {'BUSINESS AFFAIRS': 171}, {'BOARD OF ETHICS': 8}, {'PROCUREMENT': 92}, {'INSPECTOR GEN': 87}, {'LICENSE APPL COMM': 1}, {'HUMAN RESOURCES': 79}, {'LAW': 407}, {'PUBLIC LIBRARY': 1015}, {'CULTURAL AFFAIRS': 65}, {'POLICE BOARD': 2}, {'ANIMAL CONTRL': 81}, {'TREASURER': 22}, {"MAYOR'S OFFICE": 85}, {'COMMUNITY DEVELOPMENT': 207}, {'CITY CLERK': 84}, {'OEMC': 2102}, {'CITY COUNCIL': 411}, {'AVIATION': 1629}, {'STREETS & SAN': 2198}, {'FIRE': 4641}, {'BUILDINGS': 269}, {'FAMILY & SUPPORT': 615}, {'DISABILITIES': 28}, {'WATER MGMNT': 1879}, {'POLICE': 13414}, {'ADMIN HEARNG': 39}, {'BUDGET & MGMT': 46}, {'GENERAL SERVICES': 980}, {'DoIT': 99}, {'COPA': 116}, {'BOARD OF ELECTION': 107}, {'FINANCE': 560}]

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will __test whether___ the __hourly wage of__ all __hourly workers__ is __significantly different from $30/hr__. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [90]:
# Your code here:pztest[0]
## Hypotesis testing ### One Sample ### Unknown Population std => T.Test
import scipy.stats as ss

#0: 
mu = 30

sample = salaries[salaries['Salary or Hourly']=='Hourly']['Hourly Rate']
mean = sample.mean()

ttest= ss.ttest_1samp(a=sample,popmean = mu, nan_policy='omit')
t_value = ttest[0]
p_value = ttest[1]

alfa = 0.05

print(f"Two-tailed test with Pvalue= {p_value} so we can reject null hypotesis h0 and conclude the hourly wage is significantly different from $30/hour with an interval of confidence of 95%")

Two-tailed test with Pvalue= 4.3230240486229894e-92 so we can reject null hypotesis h0 and conclude the hourly wage is significantly different from $30/hour with an interval of confidence of 95%

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that __salaries this year are higher than last year's mean of $86000/year a year__ for all salaried employees. Test this __one sided__ hypothesis using a __95% confidence interval__.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [108]:
# Your code here:

# H0:salaries this year are higher than last year's mean of $86000/year a year
sample = salaries[salaries['Department']=='POLICE']['Annual Salary']
# Comparing means :
mu = 86000
alpha = 0.05

ttest= ss.ttest_1samp(a=sample,popmean = mu, nan_policy='omit')
t_value = ttest[0]
p_value_two_tails = ttest[1]
p_value = p_value_two_tails/2
print(p_value,"p_value is lower than alpha so H0 can be rejected with interval of confidence of over 95%")

0.00103017017755027 p_value is lower than alpha so H0 may can be rejected with interval of confidence of over 95%

Using the `crosstab` function, find the department that has the most hourly workers.

In [95]:
# Your code here:
salaries.columns

Index(['Name', 'Job Titles', 'Department', 'Full or Part-Time',
       'Salary or Hourly', 'Typical Hours', 'Annual Salary', 'Hourly Rate'],
      dtype='object')

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [110]:
# Your code here:
sample = salaries[salaries['Salary or Hourly']=='Hourly']['Hourly Rate']
# Comparing means :
mu = 35
alpha = 0.05

ttest= ss.ttest_1samp(a=sample,popmean = mu, nan_policy='omit')
t_value = ttest[0]
p_value_two_tails = ttest[1]
p_value = p_value_two_tails/2
print(p_value,"p_value is lower than alpha so H0 can be rejected with interval of confidence of over 95%")

1.8818444649254009e-59 p_value is lower than alpha so H0 can be rejected with interval of confidence of over 95%

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [115]:
# Your code here:
alpha = 0.05
sample = salaries[salaries['Salary or Hourly']=='Hourly']['Hourly Rate']
mean = sample.mean()
#Standard Error of the Mean
sem = sample.sem()
df = len(sample)-1
ss.t.interval(alpha=alpha, df=df, loc=mean, scale=sem)

(32.780077183391256, 32.79703824916922)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [116]:
alpha = 0.05
sample = salaries[salaries['Department']=='POLICE']['Annual Salary']
mean = sample.mean()
#Standard Error of the Mean
sem = sample.sem()
df = len(sample)-1
ss.t.interval(alpha=alpha, df=df, loc=mean, scale=sem)

(86476.51765478257, 86496.31135148421)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [123]:
# Your code here:
from statsmodels.stats.proportion import proportions_ztest as pzt
# Ho = Amount of hourly workers not significantly different from 25% with a CI(95%)
sample = salaries[salaries['Salary or Hourly']=='Hourly']
nobs = len(salaries['Salary or Hourly'])

pztest = pzt(count= len(sample), nobs = nobs, value = 0.25)
zstat = pztest[0]
pvalue = pztest[1]
prettyztest = {'zstat':zstat,'pvalue':pvalue}
print(f'{prettyztest} pvalue < alpha ho rejected')

{'zstat': -3.5099964213703005, 'pvalue': 0.0004481127249057967} pvalue < alpha ho rejected